fancymenu_data/
fancymenu_setups/
ldlib/
local/
logs/
mods/
multiblocked/
natives/
resourcepacks/
saves/
schematics/
screenshots/
scripts/
XaeroWayPoints/
XaeroWorldMap/

*.log
*.zip

/config.bak.json
/config.json
/manifest.json
/options.txt
/rhino.local.properties
/servers.dat
/servers.dat+old
/usercache.json
/usernamecache.json